.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.link {
  margin-left: 10px;
  margin-right: 10px;
}

.route-active {
  border-bottom: 4px solid white;
  margin-bottom: -4px;
}
